* {
    margin: 0px;
    padding: 0;
    border: border-box;
}

.border:hover {
    border: px rgb(6, 4, 4) solid;

    background-color: #ffab00;

}

.border {
    text-decoration: none;
}

.background {
    background: url("WhatsApp\ Image\ 2024-08-07\ at\ 6.56.44\ PM\ \(1\).jpeg") no-repeat;
    background-size: cover;
    height: 104vh;

}
.slider-box{
    display: block;
    /* margin-top: 44px; */
}

.sub-head{
    margin-bottom: 22px;
    margin-top: 22px;
    text-align: center;
    font-family: italic;
    color: rgb(255 227 72);
    
  
}


.container {
    display: flex;
    /* border: 2px red solid; */
    text-align: center;
    width: 80rem;
    height: 1rem;
    justify-content: space-evenly;
    color: white;
    /* margin-top: 20px; */
    background: no-repeat;
}

.container div a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
}

.con-home {
    margin-left: 31rem;
}

/* name */
.name {
    display: flex;
    margin-left: 2rem;
    color: white;
    margin-top: 2rem;
    background: no-repeat;
}

.name-intro {
    /* border: 2px red solid; */
    width: 25rem;
    /* font-family: 'IBM Plex Sans', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
}

.name-intro h2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.name-intro p {
    display: flex;
    margin-top: 35px;
    font-size: 18px;

}

* { box-sizing: border-box; }
        body { font-family: Arial, sans-serif; margin: 0; }
        .slider {
            position: relative;
            max-width: 100%;
            margin: auto;
            overflow: hidden;
        }
        .slides {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }
        .slides img {
            width: 100%;
            border: none;
        }
        .navigation {
            position: absolute;
            top: 50%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            transform: translateY(-50%);
        }
        .prev, .next {
            background-color: rgba(0,0,0,0.5);
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            font-size: 18px;
        }

        #img-3{
            scale: 2.1;
            height: 100%;
        }